[Desktop Entry]
Name=OptimusUI
Exec=optimus-ui
Type=Application
Icon=de.z_ray.OptimusUI
Categories=Utility;
Keywords=nvidia;optimus;gpu;prime;offloading;optimus-manager;prime-select;suse-prime;
Comment=A graphical interface for prime-select, suse-prime or Optimus Manager
MimeType=application/x-rpm;application/vnd.debian.binary-package